{{>resources/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{find.id}}</th>
            <td>{{find.username}}</td>
            <td>{{find.content}}</td>
        </tr>

    </tbody>
</table>

 <!--매우중요 id.id 앞의 id는 해당 컨트롤러 모델이름!!!!!!!!!!!!!!!!!11-->
<a href="/content"><button type="button" class="btn btn-primary">목록으로</button></a>
<a href="/content/{{find.id}}/edit"><button type="button" class="btn btn-primary">수정하기</button></a>
<a href="/content/{{find.id}}/delete"><button type="button" class="btn btn-primary">삭제하기</button></a>
{{>resources/footer}}