{{>resources/header}}

<form class="container" >
    <div class="mb-3">
        <label class="form-label">User ID</label>
        <input type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">content</label>
        <textarea class="form-control" rows="3" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{{>resources/footer}}