<button type="button" class="btn btn-primary">first</button>
<button type="button" class="btn btn-secondary">second</button>
<button type="button" class="btn btn-success">third</button>
<button type="button" class="btn btn-danger">fourth</button>
<button type="button" class="btn btn-warning">fifth</button>
<button type="button" class="btn btn-info">sixth</button>
<button type="button" class="btn btn-light">seventh</button>
